.all-videos{
  &.busca{
    flex:1;
    flex-grow: 4;
    .videos{
      padding: 15px;
      border:1px solid $secundaryColor;
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
      height:501px;
      overflow-y: scroll;
      overflow-x: hidden;
      flex-direction: column;
      flex-wrap: nowrap;
      .video-list{
        flex-direction: column;
      }
    }
    .load-more{
      font-size: 9px;
      height: 24px;
      width:100%;
      padding:0;
      margin:0;
    }
    .video-list{
      .video{
        flex-basis: 100%;
        flex: 1;
        margin-bottom: 17px;
        padding: 0px;
        a{
          &:nth-child(3n + 1),
          &:nth-child(3n){
            padding:0;
          }
        }
      }
    }
  }
}


@media (max-width: 850px) {
  .all-videos{
    &.busca{
      .load-more{
        height: 50px;
        font-size:13px;
      }
      .videos{
        flex-direction:column;
        flex-wrap: nowrap;
        height: auto;
        overflow-y: initial;
        .video{
          flex: 1 1 auto;
          a{
            height:150px;
            figure{
              flex: 1;
              flex-grow: 2;
            }
            .video-info{
              flex: 1;
              flex-grow: 1;
            }
          }
        }
      }
    }
  }
  .sections{
    flex-direction: column;
    .video-detail{
      margin-right: 0px;
    }
    .all-videos{
      &.busca{
        margin-top: 35px;
      }
    }
  }
  .video-detail{
    .video-description{
      max-height: 30vh;
    }
  }
}


@media (max-width: 450px) {
  .all-videos {
    &.busca {
      .videos {
        .video {
          a {
            height: auto;
          }
        }
      }
    }
  }
}
