.icon-destaque{
  background: url("../images/destaque-icon.png") no-repeat;
  width:24px;
  height:23px;
}
.icon-video{
  background: url("../images/video-icon.png") no-repeat;
  width:24px;
  height:24px;
}
