h1,h2,h3,h4,h5,h6{
  font-family: "Titillium Web", serif;
  color: $primaryColor;
  font-weight: normal;
}
h2{
  font-size: 36px;
}
h3{
  font-size:18px;
}
@media (max-width: 680px) {
  h2{
    font-size: 26px;
  }
}
